@font-face {
    font-family: 'gt-walsheim';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/gt-walsheim/gt-walsheim-regular-subset.woff2) format('woff2');
}

@font-face {
    font-family: 'gt-walsheim';
    font-style: normal;
    font-weight: 500;
    src: url(./fonts/gt-walsheim/gt-walsheim-medium-subset.woff2) format('woff2');
}

@font-face {
    font-family: 'gt-walsheim';
    font-style: oblique;
    font-weight: 500;
    src: url(./fonts/gt-walsheim/gt-walsheim-medium-obilque-subset.woff2) format('woff2');
}

@font-face {
    font-family: 'gt-walsheim';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/gt-walsheim/gt-walsheim-bold-subset.woff2) format('woff2');
}

@font-face {
    font-family: 'gt-walsheim';
    font-style: normal;
    font-weight: 900;
    src: url(./fonts/gt-walsheim/gt-walsheim-black-subset.woff2) format('woff2');
}